Repository backend-dev-study/Colla, pull requests merged in 2021-12, with the labels that each got.

#9 [#8] feat: Github OAuth 구현
  backend/src/main/java/kr/kro/colla/auth/presentation/AuthController.java
  backend/src/main/java/kr/kro/colla/auth/presentation/dto/GithubLoginResponse.java
  backend/src/main/java/kr/kro/colla/auth/service/AuthService.java
  backend/src/main/java/kr/kro/colla/auth/service/dto/GithubAccessTokenRequest.java
  backend/src/main/java/kr/kro/colla/auth/service/dto/GithubAccessTokenResponse.java
  backend/src/main/java/kr/kro/colla/auth/service/dto/GithubUserProfileResponse.java
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/auth.ts
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/LoginProcessing/index.tsx
  frontend/src/pages/LoginProcessing/style.ts
  frontend/webpack.config.js
Labels: 🚀 Backend, ⭐ Frontend

#10 [#3] feat: privacy drop down UI
  frontend/src/App.tsx
  frontend/src/assets/edit.svg
  frontend/src/components/Icon/Project/index.tsx
  frontend/src/components/Icon/Project/style.tsx
  frontend/src/components/Icon/User/index.tsx
  frontend/src/components/Icon/User/style.tsx
  frontend/src/components/Modal/DetailUser/index.tsx
  frontend/src/components/Modal/DetailUser/style.tsx
  frontend/src/components/Modal/User/index.tsx
  frontend/src/components/Modal/User/style.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Home/style.ts
Labels: ⭐ Frontend

#12 [#11] 프로젝트 생성 API 일부 구현
  backend/src/main/java/kr/kro/colla/comment/domain/Comment.java
  backend/src/main/java/kr/kro/colla/comment/repository/CommentRepository.java
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/repository/ProjectRepository.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/project/project/service/dto/CreateRequest.java
  backend/src/main/java/kr/kro/colla/project/task_status/domain/TaskStatus.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/Notice.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/NoticeType.java
  backend/src/main/java/kr/kro/colla/user/user/domain/User.java
  backend/src/test/java/kr/kro/colla/project/project/repository/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/task/comment/domain/repository/CommentRepositoryTest.java
Labels: 🚀 Backend

#14 [#13] feat: JWT 구현 및 로그인 관련 테스트 코드 작성
  backend/build.gradle
  backend/src/main/java/kr/kro/colla/BackendApplication.java
  backend/src/main/java/kr/kro/colla/auth/infrastructure/GithubOAuthManager.java
  backend/src/main/java/kr/kro/colla/auth/presentation/AuthController.java
  backend/src/main/java/kr/kro/colla/auth/presentation/dto/GithubLoginResponse.java
  backend/src/main/java/kr/kro/colla/auth/service/AuthService.java
  backend/src/main/java/kr/kro/colla/auth/service/JwtProvider.java
  backend/src/main/java/kr/kro/colla/auth/service/dto/GithubUserProfileResponse.java
  backend/src/main/java/kr/kro/colla/config/JpaAuditingConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/kro/colla/auth/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/auth/presentation/AuthControllerTest.java
  backend/src/test/java/kr/kro/colla/auth/service/AuthServiceTest.java
Labels: 🚀 Backend
