Repository backend-dev-study/Colla, pull requests merged in 2022-03, with the labels that each got.

#102 [#99] feat: 태그 기반 필터링 및 스토리 기반 그룹핑 API 구현
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectStoryTaskResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/common/fixture/TagProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskTagProvider.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/components/Header/style.tsx
Labels: 🚀 Backend

#101 [#100] feat: 테스크 목록 상태값 필터링 조회 API 구현
  backend/src/main/java/kr/kro/colla/project/task_status/service/TaskStatusService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
Labels: 🚀 Backend

#105 [#103] feat: 필터링 UI 다중선택 구현 및 API 연동
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/.eslintrc.json
  frontend/src/apis/task.ts
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/Issue/index.tsx
  frontend/src/components/Issue/style.tsx
  frontend/src/components/Modal/Filter/index.tsx
  frontend/src/components/Modal/Filter/style.ts
  frontend/src/pages/Backlog/index.tsx
  frontend/src/pages/Backlog/style.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/types/project.ts
  frontend/src/types/task.ts
Labels: 🚀 Backend, ⭐ Frontend

#106 [#104] feat: 테스크 목록 담당자 필터링 API 구현 및 정렬 순서 UI 추가
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectTaskSimpleResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/public/assets/images/ascending.svg
  frontend/public/assets/images/descending.svg
  frontend/public/assets/images/edit.svg
  frontend/public/assets/images/search-button.svg
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/BacklogFeature/style.ts
  frontend/src/components/DropDown/SortCriteria/index.tsx
  frontend/src/components/DropDown/SortCriteria/style.ts
  frontend/src/components/Modal/Filter/style.ts
  frontend/src/styles/color.ts
  frontend/src/styles/dropdown.ts
Labels: 🚀 Backend, ⭐ Frontend

#109 [#107] feat: 백로그 태스크 모달창 연동 및 태스크 검색 구현
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/apis/task.ts
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/BacklogFeature/style.ts
  frontend/src/components/DropDown/PreTask/index.tsx
  frontend/src/components/Issue/index.tsx
  frontend/src/components/KanbanCol/index.tsx
  frontend/src/components/List/PreTaskList/index.tsx
  frontend/src/components/Modal/Task/Basic/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/hooks/useInputTask.ts
  frontend/src/pages/Backlog/index.tsx
  frontend/src/pages/Backlog/style.tsx
  frontend/src/types/task.ts
Labels: 🚀 Backend, ⭐ Frontend

#110 [#108] feat: 테스크 목록 필터링 API 다중 선택으로 수정 및 프론트엔드와 연동
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/apis/task.ts
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/DropDown/SortCriteria/index.tsx
  frontend/src/components/Modal/Filter/index.tsx
  frontend/src/pages/Backlog/index.tsx
Labels: 🚀 Backend, ⭐ Frontend

#114 [#112] feat: 로드맵 스토리/태스크 목록 UI, API 구현 및 연동
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectStorySimpleResponse.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/story/domain/Story.java
  backend/src/main/java/kr/kro/colla/story/domain/repository/StoryRepository.java
  backend/src/main/java/kr/kro/colla/story/presentation/StoryController.java
  backend/src/main/java/kr/kro/colla/story/presentation/dto/ProjectStoryResponse.java
  backend/src/main/java/kr/kro/colla/story/presentation/dto/UpdateStoryPeriodRequest.java
  backend/src/main/java/kr/kro/colla/story/service/StoryService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/RoadmapTaskResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/task/task/service/converter/TaskResponseConverter.java
  backend/src/test/java/kr/kro/colla/common/fixture/StoryProvider.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/story/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/story/domain/repository/StoryRepositoryTest.java
  backend/src/test/java/kr/kro/colla/story/presentation/StoryControllerTest.java
  backend/src/test/java/kr/kro/colla/story/service/StoryServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/App.tsx
  frontend/src/apis/story.ts
  frontend/src/apis/task.ts
  frontend/src/components/List/IssueList/index.tsx
  frontend/src/components/List/IssueList/style.ts
  frontend/src/components/List/StoryList/index.tsx
  frontend/src/components/List/StoryList/style.ts
  frontend/src/components/List/TaskList/index.tsx
  frontend/src/components/List/TaskList/style.ts
  frontend/src/components/Modal/StoryPeriod/index.tsx
  frontend/src/components/Modal/StoryPeriod/style.ts
  frontend/src/pages/Roadmap/index.tsx
  frontend/src/pages/Roadmap/style.ts
  frontend/src/types/roadmap.ts
Labels: 🚀 Backend, ⭐ Frontend

#115 [#113] feat: 로드맵 스토리 막대 UI 추가
  frontend/src/App.tsx
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/BacklogFeature/style.tsx
  frontend/src/components/Issue/index.tsx
  frontend/src/components/Issue/style.tsx
  frontend/src/components/List/IssueList/index.tsx
  frontend/src/components/List/IssueList/style.ts
  frontend/src/components/List/StoryList/index.tsx
  frontend/src/components/RoadmapStory/index.tsx
  frontend/src/components/RoadmapStory/style.tsx
  frontend/src/components/TextWithHover/index.tsx
  frontend/src/components/TextWithHover/style.tsx
  frontend/src/pages/Backlog/style.tsx
  frontend/src/pages/Roadmap/index.tsx
  frontend/src/pages/Roadmap/style.ts
  frontend/src/styles/common.ts
  frontend/src/types/roadmap.ts
  frontend/src/utils/common.ts
Labels: ⭐ Frontend, 🛠 Refactor

#117 [#116] feat: 지도 API 연동 및 마커/info window 구현
  frontend/.eslintrc.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Map/InfoWindow/index.ts
  frontend/src/components/Map/InfoWindow/style.scss
  frontend/src/components/Map/index.tsx
  frontend/src/components/Map/style.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/pages/MeetingPlace/index.tsx
  frontend/src/pages/MeetingPlace/style.ts
  frontend/src/types/meeting-place.ts
  frontend/webpack.config.js
Labels: ⭐ Frontend

#119 [#118] feat: 모임 장소 목록 관련 UI 및 모임 장소 추가 API 구현
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/domain/MeetingPlace.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/domain/repository/MeetingPlaceRepository.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceController.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/dto/CreateMeetingPlaceRequest.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/dto/MeetingPlaceResponse.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceService.java
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/test/java/kr/kro/colla/common/ControllerTest.java
  backend/src/test/java/kr/kro/colla/common/fixture/MeetingPlaceProvider.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/domain/repository/MeetingPlaceRepositoryTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceControllerTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceServiceTest.java
  frontend/src/App.tsx
  frontend/src/components/Modal/Place/index.tsx
  frontend/src/components/Modal/Place/style.ts
  frontend/src/components/Template/index.tsx
  frontend/src/components/Template/style.ts
  frontend/src/pages/MeetingPlace/index.tsx
  frontend/src/pages/MeetingPlace/style.ts
Labels: 🚀 Backend, ⭐ Frontend

#122 [#121] feat: 지도 바운더리 처리 구현
  backend/src/main/java/kr/kro/colla/exception/exception/meeting_place/MeetingPlaceNotFoundException.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/domain/MeetingPlace.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/domain/repository/MeetingPlaceRepository.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceController.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/dto/SearchByMapBoundaryRequest.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceService.java
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/test/java/kr/kro/colla/common/fixture/MeetingPlaceProvider.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/domain/repository/MeetingPlaceRepositoryTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceControllerTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceServiceTest.java
  frontend/.eslintrc.json
  frontend/src/apis/meeting-place.ts
  frontend/src/components/Map/index.tsx
Labels: 🚀 Backend, ⭐ Frontend

#126 [#124] feat: 바운더리 좌측 목록과 연동 및 모임 장소 삭제 구현
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceController.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceService.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/domain/repository/MeetingPlaceRepositoryTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceControllerTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceServiceTest.java
  frontend/src/apis/meeting-place.ts
  frontend/src/components/Map/index.tsx
  frontend/src/components/Place/index.tsx
  frontend/src/components/Place/style.ts
  frontend/src/pages/MeetingPlace/index.tsx
Labels: 🚀 Backend, ⭐ Frontend

#127 [#125] feat: 장소 검색시 현재 위치 정보 연동 구현
  frontend/public/assets/images/location.svg
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/Place/index.tsx
  frontend/src/components/Modal/Place/style.ts
  frontend/src/components/Place/index.tsx
  frontend/src/components/Place/style.ts
  frontend/src/hooks/useGPSLocation.ts
  frontend/src/pages/LoginProcessing/index.tsx
  frontend/src/types/meeting-place.ts
Labels: ⭐ Frontend

#133 [#131] feat: 장소 카테고리별 아이콘 처리 및 차트 관련 UI 구현
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/domain/MeetingPlace.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/dto/CreateMeetingPlaceRequest.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/presentation/dto/MeetingPlaceResponse.java
  backend/src/main/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceService.java
  frontend/public/assets/images/art.svg
  frontend/public/assets/images/bank.svg
  frontend/public/assets/images/building.svg
  frontend/public/assets/images/cafe.svg
  frontend/public/assets/images/car.svg
  frontend/public/assets/images/charging.svg
  frontend/public/assets/images/child.svg
  frontend/public/assets/images/education.svg
  frontend/public/assets/images/home.svg
  frontend/public/assets/images/hospital.svg
  frontend/public/assets/images/hotel.svg
  frontend/public/assets/images/map.svg
  frontend/public/assets/images/mart.svg
  frontend/public/assets/images/restaurant.svg
  frontend/public/assets/images/school.svg
  frontend/public/assets/images/subway.svg
  frontend/src/App.tsx
  frontend/src/components/Chart/PieChart/Circle/index.tsx
  frontend/src/components/Chart/PieChart/Circle/style.ts
  frontend/src/components/Chart/PieChart/index.tsx
  frontend/src/components/Chart/PieChart/style.ts
  frontend/src/components/Chart/ProgressBar/index.tsx
  frontend/src/components/Chart/ProgressBar/style.ts
  frontend/src/components/Modal/Place/index.tsx
  frontend/src/components/Place/index.tsx
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/pages/Dashboard/style.ts
  frontend/src/types/dashboard.ts
  frontend/src/types/meeting-place.ts
  frontend/src/utils/common.ts
Labels: 🚀 Backend, ⭐ Frontend

#135 [#130] feat: TaskStatusLog 구현
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/task/task_status_log/domain/TaskStatusLog.java
  backend/src/main/java/kr/kro/colla/task/task_status_log/domain/repository/TaskStatusLogRepository.java
  backend/src/main/java/kr/kro/colla/task/task_status_log/service/TaskStatusLogService.java
  backend/src/test/java/kr/kro/colla/BackendApplicationTests.java
  backend/src/test/java/kr/kro/colla/common/fixture/MeetingPlaceProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskStatusLogProvider.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/presentation/MeetingPlaceControllerTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task_status_log/domain/repository/TaskStatusLogRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task_status_log/service/TaskStatusLogServiceTest.java
  frontend/src/apis/task.ts
  frontend/src/components/KanbanCol/index.tsx
Labels: 🚀 Backend

#136 [#134] feat: 상태값 별 테스크 개수 조회 관련 API 구현
  backend/src/main/java/kr/kro/colla/task/task/domain/TaskCntByStatus.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ManagerTaskCntResponse.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/TaskCntResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/meeting_place/meeting_place/service/MeetingPlaceServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
Labels: 🚀 Backend

#139 [#137] feat: 이슈 변화량 그래프 구현
  frontend/.eslintrc.json
  frontend/src/components/Chart/LineChart/index.tsx
  frontend/src/components/Chart/LineChart/style.ts
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/pages/Dashboard/style.ts
Labels: ⭐ Frontend

#140 [#138] feat: 차트 색상 통일 처리 및 API와 연동
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/dto/TaskCountByStatus.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ManagerTaskCountResponse.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/TaskCntResponse.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/TaskCountResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/apis/task.ts
  frontend/src/components/Chart/LineChart/index.tsx
  frontend/src/components/Chart/PieChart/index.tsx
  frontend/src/components/Chart/PieChart/style.ts
  frontend/src/components/Chart/ProgressBar/index.tsx
  frontend/src/components/Chart/ProgressBar/style.ts
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/types/dashboard.ts
  frontend/src/utils/common.ts
  frontend/tsconfig.json
Labels: 🚀 Backend, ⭐ Frontend
