Repository backend-dev-study/Colla, pull requests merged in 2022-01, with the labels that each got.

#16 [#11] feat: 프로젝트 생성 구현 리팩토링 및 테스트 추가 구현
  backend/build.gradle
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/main/java/kr/kro/colla/project/project/domain/ProjectRepository.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/project/project/service/dto/CreateRequest.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/CreateProjectRequest.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/CreateProjectResponse.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/domain/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
Labels: 🚀 Backend, 🛠 Refactor

#18 [#17] refactor: 테스트 코드 리팩토링
  backend/src/main/java/kr/kro/colla/project/project/domain/ProjectRepository.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/CreateProjectRequest.java
  backend/src/test/java/kr/kro/colla/auth/presentation/AuthControllerTest.java
  backend/src/test/java/kr/kro/colla/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/domain/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/domain/repository/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
Labels: 🚀 Backend, 🛠 Refactor

#21 [#20] feat: 개인 정보 드롭 다운 추가 구현 및 개선
  frontend/public/assets/images/edit.svg
  frontend/public/assets/images/home-image.png
  frontend/public/assets/images/plus-circle.svg
  frontend/src/components/Icon/User/index.tsx
  frontend/src/components/Icon/User/style.tsx
  frontend/src/components/Modal/DetailUser/style.tsx
  frontend/src/components/Modal/User/index.tsx
  frontend/src/components/Modal/User/style.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Home/style.ts
  frontend/src/pages/Kanban/style.tsx
  frontend/src/styles/global.tsx
Labels: ⭐ Frontend

#23 [#22] refactor: 모달 UI 및 컴포넌트 수정
  frontend/src/apis/client.ts
  frontend/src/apis/user.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.tsx
  frontend/src/components/Icon/Project/style.tsx
  frontend/src/components/Icon/User/index.tsx
  frontend/src/components/Icon/User/style.tsx
  frontend/src/components/KanbanCol/style.tsx
  frontend/src/components/Modal/DetailUser/index.tsx
  frontend/src/components/Modal/Project/index.tsx
  frontend/src/components/Modal/Project/style.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/styles/common.ts
  frontend/src/styles/global.tsx
Labels: ⭐ Frontend, 🛠 Refactor

#27 [#26] feat: 예외 처리 기초 구현 및 프로젝트 생성 실패 케이스 추가
  backend/src/main/java/kr/kro/colla/auth/presentation/AuthController.java
  backend/src/main/java/kr/kro/colla/error/ErrorResponse.java
  backend/src/main/java/kr/kro/colla/error/GlobalExceptionHandler.java
  backend/src/main/java/kr/kro/colla/error/exception/auth/AuthPermissionDeniedException.java
  backend/src/main/java/kr/kro/colla/error/exception/user/UserNotFoundException.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/domain/repository/UserRepositoryTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
Labels: 🚀 Backend

#28 [#25] feat: 프로젝트 모달 구현 및 API 연동
  backend/src/main/java/kr/kro/colla/config/WebConfig.java
  frontend/src/components/Header/style.tsx
  frontend/src/components/Icon/Project/index.tsx
  frontend/src/components/Icon/Project/style.tsx
  frontend/src/components/Icon/User/index.tsx
  frontend/src/components/Icon/User/style.tsx
  frontend/src/components/Modal/Project/index.tsx
  frontend/src/components/Modal/Project/style.tsx
  frontend/src/components/Modal/User/index.tsx
  frontend/src/components/Modal/User/style.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Kanban/index.tsx
Labels: 🚀 Backend, ⭐ Frontend

#34 [#31] feat: 프로젝트 정보 전역 상태값 설정
  backend/src/main/java/kr/kro/colla/auth/presentation/interceptor/AuthInterceptor.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/CreateProjectRequest.java
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/user.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.tsx
  frontend/src/index.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/stores/atom.ts
Labels: ⭐ Frontend

#33 [#30] feat: JWT 로직 및 테스트 코드 개선
  backend/src/main/java/kr/kro/colla/auth/domain/LoginUser.java
  backend/src/main/java/kr/kro/colla/auth/infrastructure/RedisManager.java
  backend/src/main/java/kr/kro/colla/auth/presentation/AuthController.java
  backend/src/main/java/kr/kro/colla/auth/presentation/argument_resolver/AuthArgumentResolver.java
  backend/src/main/java/kr/kro/colla/auth/presentation/interceptor/AuthInterceptor.java
  backend/src/main/java/kr/kro/colla/auth/service/AuthService.java
  backend/src/main/java/kr/kro/colla/auth/service/JwtProvider.java
  backend/src/main/java/kr/kro/colla/config/WebConfig.java
  backend/src/main/java/kr/kro/colla/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/kro/colla/exception/exception/auth/InvalidTokenException.java
  backend/src/main/java/kr/kro/colla/exception/exception/auth/TokenNotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/auth/UnauthorizedException.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/CreateProjectRequest.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/main/java/kr/kro/colla/utils/CookieManager.java
  backend/src/test/java/kr/kro/colla/auth/presentation/AuthControllerTest.java
  backend/src/test/java/kr/kro/colla/auth/service/AuthServiceTest.java
  backend/src/test/java/kr/kro/colla/common/fixture/User.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
  backend/src/test/java/kr/kro/colla/user/user/service/UserServiceTest.java
Labels: 🚀 Backend, 🛠 Refactor

#36 [#32] feat: 프로젝트 생성시 프로젝트 멤버에 사용자 추가
  backend/src/main/java/kr/kro/colla/comment/domain/Comment.java
  backend/src/main/java/kr/kro/colla/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/kro/colla/exception/exception/NotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/user/UserNotFoundException.java
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/project/task_status/domain/TaskStatus.java
  backend/src/main/java/kr/kro/colla/user/user/domain/User.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/UpdateUserNameRequest.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/UpdateUserNameResponse.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/main/java/kr/kro/colla/user_project/domain/UserProject.java
  backend/src/main/java/kr/kro/colla/user_project/domain/repository/UserProjectRepository.java
  backend/src/main/java/kr/kro/colla/user_project/service/UserProjectService.java
  backend/src/test/java/kr/kro/colla/auth/service/AuthServiceTest.java
  backend/src/test/java/kr/kro/colla/common/fixture/Auth.java
  backend/src/test/java/kr/kro/colla/project/project/domain/repository/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
  backend/src/test/java/kr/kro/colla/user_project/domain/repository/UserProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/user_project/service/UserProjectServiceTest.java
Labels: 🚀 Backend

#40 [#38] feat: 모달 커스텀 훅 구현 및 사용자 초대 모달 UI
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.tsx
  frontend/src/components/Icon/Project/style.tsx
  frontend/src/components/Icon/User/index.tsx
  frontend/src/components/Icon/User/style.tsx
  frontend/src/components/KanbanCol/style.tsx
  frontend/src/components/Modal/Invite/index.tsx
  frontend/src/components/Modal/Invite/style.tsx
  frontend/src/components/Modal/Project/index.tsx
  frontend/src/components/Modal/Project/style.tsx
  frontend/src/components/Modal/User/style.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Home/style.ts
  frontend/src/pages/Kanban/style.tsx
  frontend/src/pages/Login/style.ts
  frontend/src/pages/LoginProcessing/style.ts
  frontend/src/styles/color.ts
  frontend/src/styles/common.ts
  frontend/src/styles/global.tsx
Labels: ⭐ Frontend, 🛠 Refactor

#41 [#39] feat: 사용자 닉네임 수정 및 로그아웃 로직 구현
  backend/src/main/java/kr/kro/colla/auth/infrastructure/RedisManager.java
  backend/src/main/java/kr/kro/colla/auth/presentation/AuthController.java
  backend/src/main/java/kr/kro/colla/auth/presentation/argument_resolver/AuthArgumentResolver.java
  backend/src/main/java/kr/kro/colla/auth/service/AuthService.java
  backend/src/main/java/kr/kro/colla/config/WebConfig.java
  backend/src/main/java/kr/kro/colla/user/user/domain/User.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/UserProfileResponse.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/main/java/kr/kro/colla/utils/CookieManager.java
  backend/src/test/java/kr/kro/colla/auth/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/auth/service/AuthServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/domain/repository/UserRepositoryTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
  backend/src/test/java/kr/kro/colla/user/user/service/UserServiceTest.java
  frontend/src/apis/auth.ts
  frontend/src/apis/user.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.tsx
  frontend/src/components/Icon/User/index.tsx
  frontend/src/components/Icon/User/style.tsx
  frontend/src/components/Modal/Project/index.tsx
  frontend/src/components/Modal/User/index.tsx
  frontend/src/components/Modal/User/style.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/stores/projectState.ts
  frontend/src/stores/userState.ts
Labels: 🚀 Backend, ⭐ Frontend

#45 [#44] feat: 사이드바 구현
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.ts
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/Kanban/style.tsx
Labels: ⭐ Frontend

#43 [#42] refactor: 토큰 기반 사용자 조회하도록 테스트 코드 수정
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
Labels: 🚀 Backend, 🛠 Refactor

#50 [#49] feat: 프로젝트 사용자 초대 API 일부 구현
  backend/src/main/java/kr/kro/colla/exception/exception/project/ProjectNotFoundException.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectMemberRequest.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectMemberResponse.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/Notice.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/converter/BooleanToIntegerConverter.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/repository/NoticeRepository.java
  backend/src/main/java/kr/kro/colla/user/notice/service/NoticeService.java
  backend/src/main/java/kr/kro/colla/user/notice/service/dto/CreateNoticeRequest.java
  backend/src/main/java/kr/kro/colla/user/user/domain/User.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/test/java/kr/kro/colla/user/notice/domain/repository/NoticeRepositoryTest.java
  backend/src/test/java/kr/kro/colla/user/notice/service/NoticeServiceTest.java
Labels: 🚀 Backend

#55 [#49] feat: 프로젝트 사용자 초대 API 분리 및 테스트 추가
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectMemberDecision.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectMemberResponse.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/user/notice/service/NoticeService.java
  backend/src/main/java/kr/kro/colla/user/notice/service/dto/CreateNoticeRequest.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/user/notice/service/NoticeServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
Labels: 🚀 Backend, 🛠 Refactor

#56 [#51, #57] feat: 프로젝트 조회 API 연동 및 테스크 모달창 구현
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/project/project/service/dto/ProjectTaskResponse.java
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/utils/CookieManager.java
  frontend/.eslintrc.json
  frontend/public/assets/images/delete.png
  frontend/public/assets/images/down.png
  frontend/public/assets/images/star.png
  frontend/src/apis/project.ts
  frontend/src/components/DropDown/PreTask/index.tsx
  frontend/src/components/DropDown/PreTask/style.ts
  frontend/src/components/KanbanCol/index.tsx
  frontend/src/components/KanbanCol/style.tsx
  frontend/src/components/Modal/Story/index.tsx
  frontend/src/components/Modal/Story/style.ts
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.ts
  frontend/src/components/Task/index.tsx
  frontend/src/components/Task/style.ts
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/Kanban/style.tsx
  frontend/src/styles/common.ts
  frontend/src/types/kanban.ts
Labels: ⭐ Frontend

#61 [#60] feat: 사용자 알림 조회 API 구현
  backend/src/main/java/kr/kro/colla/exception/exception/notice/NoticeNotFoundException.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/Notice.java
  backend/src/main/java/kr/kro/colla/user/notice/service/NoticeService.java
  backend/src/main/java/kr/kro/colla/user/user/domain/User.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/UserNoticeResponse.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
Labels: 🚀 Backend

#62 [#59] feat: 스토리 API 구현
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/CreateStoryRequest.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectStoryResponse.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/story/domain/Story.java
  backend/src/main/java/kr/kro/colla/story/domain/repository/StoryRepository.java
  backend/src/main/java/kr/kro/colla/story/service/StoryService.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/story/service/StoryServiceTest.java
  frontend/src/apis/project.ts
  frontend/src/components/DropDown/PreTask/style.ts
  frontend/src/components/DropDown/Story/index.tsx
  frontend/src/components/DropDown/Story/style.ts
  frontend/src/components/Modal/Story/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/types/kanban.ts
Labels: 🚀 Backend, ⭐ Frontend

#64 [#57] feat: 테스크 생성 모달 담당자, 우선순위 구현
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectMemberResponse.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/domain/repository/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  frontend/src/apis/project.ts
  frontend/src/components/DropDown/Member/index.tsx
  frontend/src/components/DropDown/Member/style.ts
  frontend/src/components/DropDown/PreTask/style.ts
  frontend/src/components/DropDown/Story/style.ts
  frontend/src/components/Modal/Story/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/pages/Kanban/index.tsx
  frontend/src/styles/dropdown.ts
Labels: 🚀 Backend, ⭐ Frontend
