Repository backend-dev-study/Colla, pull requests merged in 2022-02, with the labels that each got.

#68 [#66] feat: 사용자 초대 및 알림 조회 API 연동
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/images/notification_outline.svg
  frontend/src/App.tsx
  frontend/src/apis/common.ts
  frontend/src/apis/project.ts
  frontend/src/apis/user.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.tsx
  frontend/src/components/Icon/Notice/index.tsx
  frontend/src/components/Icon/Notice/style.tsx
  frontend/src/components/Modal/Invite/index.tsx
  frontend/src/components/Modal/Invite/style.tsx
  frontend/src/components/Modal/Notice/index.tsx
  frontend/src/components/Modal/Notice/style.tsx
  frontend/src/components/Modal/Project/index.tsx
  frontend/src/components/Modal/Story/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Modal/User/index.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/LoginProcessing/index.tsx
  frontend/src/stores/projectState.ts
  frontend/src/styles/color.ts
  frontend/src/styles/common.ts
  frontend/src/styles/global.tsx
  frontend/src/types/project.ts
  frontend/src/types/user.ts
Labels: ⭐ Frontend, 🛠 Refactor

#72 [#67] feat: 프로젝트 초대 결정 API 수정 및 알림 읽음 처리
  backend/src/main/java/kr/kro/colla/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/kro/colla/exception/exception/BadRequestException.java
  backend/src/main/java/kr/kro/colla/exception/exception/CustomException.java
  backend/src/main/java/kr/kro/colla/exception/exception/ForbiddenException.java
  backend/src/main/java/kr/kro/colla/exception/exception/NotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/UnauthorizedException.java
  backend/src/main/java/kr/kro/colla/exception/exception/auth/InvalidTokenException.java
  backend/src/main/java/kr/kro/colla/exception/exception/auth/TokenNotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/auth/UnauthorizedException.java
  backend/src/main/java/kr/kro/colla/exception/exception/notice/NoticeBadRequestException.java
  backend/src/main/java/kr/kro/colla/exception/exception/notice/NoticeNotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/user/UserNotManagerException.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectMemberDecision.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/user/notice/domain/Notice.java
  backend/src/main/java/kr/kro/colla/user/notice/service/NoticeService.java
  backend/src/main/java/kr/kro/colla/user/notice/service/dto/CreateNoticeRequest.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/dto/UserNoticeResponse.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/user/notice/service/NoticeServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
  frontend/src/apis/project.ts
  frontend/src/components/Modal/Invite/style.tsx
  frontend/src/components/Modal/Notice/index.tsx
  frontend/src/types/user.ts
Labels: 🚀 Backend, ⭐ Frontend, 🛠 Refactor

#71 [#70] feat: 태스크 생성 API 구현 및 연동
  backend/src/main/java/kr/kro/colla/exception/exception/project/task_status/TaskStatusNotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/story/StoryNotFoundException.java
  backend/src/main/java/kr/kro/colla/exception/exception/task/tag/InvalidTagFormatException.java
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/task_status/domain/TaskStatus.java
  backend/src/main/java/kr/kro/colla/project/task_status/domain/repository/TaskStatusRepository.java
  backend/src/main/java/kr/kro/colla/project/task_status/service/TaskStatusService.java
  backend/src/main/java/kr/kro/colla/story/domain/repository/StoryRepository.java
  backend/src/main/java/kr/kro/colla/story/service/StoryService.java
  backend/src/main/java/kr/kro/colla/task/tag/domain/repository/TagRepository.java
  backend/src/main/java/kr/kro/colla/task/tag/service/TagService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/CreateTaskRequest.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/task/task_tag/domain/TaskTag.java
  backend/src/main/java/kr/kro/colla/task/task_tag/service/TaskTagService.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/test/java/kr/kro/colla/auth/presentation/AuthControllerTest.java
  backend/src/test/java/kr/kro/colla/common/ControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/project/task_status/domain/repository/TaskStatusRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/task_status/service/TaskStatusServiceTest.java
  backend/src/test/java/kr/kro/colla/story/domain/repository/StoryRepositoryTest.java
  backend/src/test/java/kr/kro/colla/story/service/StoryServiceTest.java
  backend/src/test/java/kr/kro/colla/task/tag/domain/repository/TagRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/tag/service/TagServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task_tag/domain/repository/TaskTagRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task_tag/service/TaskTagServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/user/user/presentation/UserControllerTest.java
  backend/src/test/java/kr/kro/colla/user/user/service/UserServiceTest.java
  backend/src/test/java/kr/kro/colla/user_project/service/UserProjectServiceTest.java
  frontend/src/apis/project.ts
  frontend/src/apis/task.ts
  frontend/src/components/DropDown/Member/index.tsx
  frontend/src/components/DropDown/Story/index.tsx
  frontend/src/components/List/TagList/index.tsx
  frontend/src/components/Modal/Tag/index.tsx
  frontend/src/hooks/useInputTask.ts
  frontend/src/types/project.ts
Labels: 🚀 Backend, ⭐ Frontend

#76 [#74] feat: 태스크 조회 API 구현 및 연동
  backend/src/main/java/kr/kro/colla/auth/presentation/AuthController.java
  backend/src/main/java/kr/kro/colla/auth/presentation/argument_resolver/AuthArgumentResolver.java
  backend/src/main/java/kr/kro/colla/auth/presentation/interceptor/AuthInterceptor.java
  backend/src/main/java/kr/kro/colla/auth/service/AuthService.java
  backend/src/main/java/kr/kro/colla/exception/exception/task/TaskNotFoundException.java
  backend/src/main/java/kr/kro/colla/project/project/domain/profile/ProjectProfileStorage.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/project/task_status/domain/repository/TaskStatusRepository.java
  backend/src/main/java/kr/kro/colla/story/domain/repository/StoryRepository.java
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectTaskResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/user/user/domain/repository/UserRepository.java
  backend/src/main/java/kr/kro/colla/user/user/presentation/UserController.java
  backend/src/main/java/kr/kro/colla/user/user/service/UserService.java
  backend/src/test/java/kr/kro/colla/common/fixture/ProjectProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/StoryProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/UserProvider.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/apis/task.ts
  frontend/src/components/KanbanCol/index.tsx
  frontend/src/components/Modal/Task/Detail/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Task/index.tsx
  frontend/src/components/Task/style.ts
  frontend/src/hooks/useInputTask.ts
  frontend/src/types/task.ts
Labels: 🚀 Backend, ⭐ Frontend

#77 [#75] feat: 프로젝트 테스크 상태값 추가 삭제 API 구현 및 연동
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/CreateTaskStatusRequest.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/DeleteTaskStatusRequest.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/ProjectTaskStatusResponse.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/test/java/kr/kro/colla/common/ControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  frontend/src/apis/project.ts
  frontend/src/components/Modal/Notice/index.tsx
  frontend/src/components/Modal/Notice/style.tsx
  frontend/src/components/Modal/Story/style.ts
  frontend/src/components/Modal/Task/Basic/style.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/components/Modal/TaskStatus/index.tsx
  frontend/src/components/Modal/TaskStatus/style.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/Kanban/style.tsx
  frontend/src/stores/projectState.ts
  frontend/src/styles/color.ts
  frontend/src/styles/global.tsx
  frontend/src/types/project.ts
Labels: 🚀 Backend, ⭐ Frontend

#78 [#74] feat: 태스크 수정 API 구현
  backend/src/main/java/kr/kro/colla/task/tag/domain/Tag.java
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/UpdateTaskRequest.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/task/task_tag/domain/TaskTag.java
  backend/src/main/java/kr/kro/colla/task/task_tag/service/TaskTagService.java
  frontend/src/apis/task.ts
  frontend/src/components/DropDown/PreTask/index.tsx
  frontend/src/components/List/PreTaskList/index.tsx
  frontend/src/components/List/Priority/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/hooks/useInputTask.ts
Labels: 🚀 Backend, ⭐ Frontend

#82 [#79, #80] feat: 태스크 수정 API 테스트 코드 작성 및 댓글 API 구현
  backend/src/main/java/kr/kro/colla/comment/domain/Comment.java
  backend/src/main/java/kr/kro/colla/comment/domain/repository/CommentRepository.java
  backend/src/main/java/kr/kro/colla/comment/presentation/CommentController.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/CreateCommentRequest.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/CreateCommentResponse.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/TaskCommentResponse.java
  backend/src/main/java/kr/kro/colla/comment/service/CommentService.java
  backend/src/main/java/kr/kro/colla/exception/exception/comment/CommentNotFoundException.java
  backend/src/main/java/kr/kro/colla/task/tag/domain/Tag.java
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectTaskResponse.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/UpdateTaskRequest.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/kro/colla/auth/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/comment/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/kr/kro/colla/comment/presentation/CommentControllerTest.java
  backend/src/test/java/kr/kro/colla/comment/service/CommentServiceTest.java
  backend/src/test/java/kr/kro/colla/common/ControllerTest.java
  backend/src/test/java/kr/kro/colla/common/database/DatabaseCleaner.java
  backend/src/test/java/kr/kro/colla/common/fixture/Auth.java
  backend/src/test/java/kr/kro/colla/common/fixture/CommentProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/NoticeProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/ProjectProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/StoryProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TagProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskStatusProvider.java
  backend/src/test/java/kr/kro/colla/common/fixture/UserProvider.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/TaskTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task_tag/service/TaskTagServiceTest.java
  backend/src/test/java/kr/kro/colla/user/user/AcceptanceTest.java
  frontend/src/components/Modal/Task/Comment/index.tsx
  frontend/src/components/Modal/Task/Comment/style.ts
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/styles/color.ts
Labels: 🚀 Backend, ⭐ Frontend

#83 [#81] feat: 테스크 상태값 삭제 API 수정 및 연동
  backend/src/main/java/kr/kro/colla/exception/exception/CustomException.java
  backend/src/main/java/kr/kro/colla/exception/exception/project/task_status/TaskStatusAlreadyExistException.java
  backend/src/main/java/kr/kro/colla/project/project/domain/Project.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/ProjectController.java
  backend/src/main/java/kr/kro/colla/project/project/presentation/dto/DeleteTaskStatusRequest.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskStatusProvider.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/project/project/domain/repository/ProjectRepositoryTest.java
  backend/src/test/java/kr/kro/colla/project/project/presentation/ProjectControllerTest.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/public/assets/images/close-circle.svg
  frontend/src/apis/project.ts
  frontend/src/components/DropDown/TaskStatus/index.tsx
  frontend/src/components/DropDown/TaskStatus/style.ts
  frontend/src/components/Header/style.tsx
  frontend/src/components/KanbanCol/index.tsx
  frontend/src/components/KanbanCol/style.tsx
  frontend/src/components/Modal/TaskStatus/Create/index.tsx
  frontend/src/components/Modal/TaskStatus/Create/style.tsx
  frontend/src/components/Modal/TaskStatus/Delete/index.tsx
  frontend/src/components/Modal/TaskStatus/Delete/style.tsx
  frontend/src/components/SideBar/style.ts
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/Kanban/style.tsx
  frontend/src/styles/common.ts
Labels: 🚀 Backend, ⭐ Frontend

#84 [#80] feat: 태스크 댓글 UI 구현 및 API 연동
  backend/src/main/java/kr/kro/colla/comment/domain/repository/CommentRepository.java
  backend/src/main/java/kr/kro/colla/comment/presentation/CommentController.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/CreateCommentResponse.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/TaskCommentResponse.java
  backend/src/main/java/kr/kro/colla/comment/service/CommentService.java
  backend/src/test/java/kr/kro/colla/comment/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/comment/presentation/CommentControllerTest.java
  backend/src/test/java/kr/kro/colla/comment/service/CommentServiceTest.java
  frontend/src/apis/comment.ts
  frontend/src/components/List/CommentList/Comment/index.tsx
  frontend/src/components/List/CommentList/Comment/style.ts
  frontend/src/components/List/CommentList/index.tsx
  frontend/src/components/List/CommentList/style.ts
  frontend/src/components/Modal/Task/Comment/index.tsx
  frontend/src/components/Modal/Task/index.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/types/comment.ts
Labels: 🚀 Backend, ⭐ Frontend

#87 [#80] feat: 댓글 수정, 삭제 API 구현 및 연동
  backend/src/main/java/kr/kro/colla/comment/domain/Comment.java
  backend/src/main/java/kr/kro/colla/comment/presentation/CommentController.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/UpdateCommentRequest.java
  backend/src/main/java/kr/kro/colla/comment/presentation/dto/UpdateCommentResponse.java
  backend/src/main/java/kr/kro/colla/comment/service/CommentService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/test/java/kr/kro/colla/comment/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/kr/kro/colla/comment/presentation/CommentControllerTest.java
  backend/src/test/java/kr/kro/colla/comment/service/CommentServiceTest.java
  frontend/src/apis/comment.ts
  frontend/src/components/Comment/index.tsx
  frontend/src/components/Comment/style.ts
  frontend/src/components/List/CommentList/index.tsx
  frontend/src/components/Modal/Task/style.ts
  frontend/src/pages/Kanban/style.tsx
  frontend/src/types/comment.ts
Labels: 🚀 Backend, ⭐ Frontend

#86 [#85] feat: 칸반 테스크 드래그 앤 드롭시 상태 변경 API 구현 및 연동
  backend/src/main/java/kr/kro/colla/exception/exception/CustomException.java
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/UpdateTaskStatusRequest.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/src/apis/task.ts
  frontend/src/components/KanbanCol/index.tsx
Labels: 🚀 Backend, ⭐ Frontend

#90 [#89] feat: 태스크 수정 오류 개선 및 백로그 페이지 필터 UI 구현
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
  frontend/public/assets/images/search-button.svg
  frontend/src/App.tsx
  frontend/src/apis/project.ts
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/BacklogFeature/style.ts
  frontend/src/components/DropDown/Member/style.ts
  frontend/src/components/DropDown/PreTask/style.ts
  frontend/src/components/DropDown/SortCriteria/index.tsx
  frontend/src/components/DropDown/SortCriteria/style.ts
  frontend/src/components/DropDown/Story/style.ts
  frontend/src/components/Header/style.tsx
  frontend/src/components/Modal/Filter/index.tsx
  frontend/src/components/Modal/Filter/style.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/hooks/useInputTask.ts
  frontend/src/pages/Backlog/index.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/common.ts
Labels: 🚀 Backend, ⭐ Frontend

#92 [#91] feat: 백로그 컴포넌트 UI
  frontend/src/App.tsx
  frontend/src/components/BacklogFeature/index.tsx
  frontend/src/components/BacklogFeature/style.ts
  frontend/src/components/DropDown/SortCriteria/style.ts
  frontend/src/components/Issue/index.tsx
  frontend/src/components/Issue/style.tsx
  frontend/src/components/Modal/Filter/style.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/pages/Backlog/index.tsx
  frontend/src/pages/Backlog/style.tsx
  frontend/src/pages/Kanban/index.tsx
  frontend/src/pages/NotFound/index.tsx
  frontend/src/pages/NotFound/style.tsx
  frontend/src/pages/common.ts
Labels: ⭐ Frontend

#95 [#93] feat: 백로그 태스크 중요도순 정렬 API 구현
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/project/task_status/domain/TaskStatus.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectTaskRequest.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/comment/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/kr/kro/colla/comment/presentation/CommentControllerTest.java
  backend/src/test/java/kr/kro/colla/comment/service/CommentServiceTest.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/project/project/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/TaskTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
Labels: 🚀 Backend, 🛠 Refactor

#96 [#94] feat: 생성 날짜 기준 정렬 테스크 목록 조회 API 구현
  backend/src/main/java/kr/kro/colla/task/task/domain/Task.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectTaskSimpleResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
Labels: 🚀 Backend, 🛠 Refactor

#97 [#93] feat: 코드 리뷰 기반 리팩토링 및 백로그 태스크 우선순위 정렬 API 구현
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/dto/ProjectTaskSimpleResponse.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/task/task/service/converter/TaskResponseConverter.java
  backend/src/test/java/kr/kro/colla/comment/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/comment/domain/repository/CommentRepositoryTest.java
  backend/src/test/java/kr/kro/colla/comment/presentation/CommentControllerTest.java
  backend/src/test/java/kr/kro/colla/comment/service/CommentServiceTest.java
  backend/src/test/java/kr/kro/colla/common/fixture/TaskProvider.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/TaskTest.java
  backend/src/test/java/kr/kro/colla/task/task/domain/repository/TaskRepositoryTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/task/task/service/TaskServiceTest.java
Labels: 🚀 Backend, 🛠 Refactor

#98 [#94] refactor: Notice Service 리팩토링 및 코드 리뷰 반영
  backend/src/main/java/kr/kro/colla/exception/exception/user/UserNotReceiverException.java
  backend/src/main/java/kr/kro/colla/project/project/service/ProjectService.java
  backend/src/main/java/kr/kro/colla/task/task/domain/repository/TaskRepository.java
  backend/src/main/java/kr/kro/colla/task/task/presentation/TaskController.java
  backend/src/main/java/kr/kro/colla/task/task/service/TaskService.java
  backend/src/main/java/kr/kro/colla/user/notice/service/NoticeService.java
  backend/src/test/java/kr/kro/colla/common/fixture/NoticeProvider.java
  backend/src/test/java/kr/kro/colla/project/project/service/ProjectServiceTest.java
  backend/src/test/java/kr/kro/colla/task/task/AcceptanceTest.java
  backend/src/test/java/kr/kro/colla/task/task/presentation/TaskControllerTest.java
  backend/src/test/java/kr/kro/colla/user/notice/service/NoticeServiceTest.java
  frontend/src/components/Header/style.tsx
Labels: 🚀 Backend, 🛠 Refactor
